body {
  color: tomato;
  overflow: hidden;
}
.ketchup-bg {
  background-color: tomato;
}
.hide {
  display: none;
}

.container {
  text-align: center;
  padding: 2rem;
}
.content {
  padding: 5rem 0;
}

button.opener {
  background-color: tomato;
  color: whitesmoke;
  font-weight: bold;
}

.note {
  padding-top: 2rem;
  animation: note 1.3s ease-out infinite;
}
@keyframes note {
  from {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.bottle {
  --width: 60px;
  --radius: 4px;
  --neck-size: 26px;
  --cap-color: #ffb836;
  --cap-duration: 8s;
  --bottle-rotate-duration: 2s;
  position: relative;
  width: var(--width);
  height: 100px;
  margin: 4rem auto;
}
.rotate-bottle {
  animation: rotate-bottle var(--bottle-rotate-duration) 2s ease-in-out forwards;
  transform-origin: 50% 20%;
}
.bottle-wrapper {
  transform: translateY(0rem);
}
.shake-bottle {
  animation: shake-bottle 6s 5s ease-in-out forwards;
}
.bottle__bottom {
  position: absolute;
  width: var(--width);
  height: calc(var(--width) * 1.3);
  background-color: tomato;
  border-bottom-right-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}
.bottle__top {
  --neck-offset: calc((var(--width) - var(--neck-size)) / 2);
  position: absolute;
  z-index: 0;
  width: var(--width);
  height: 0;
  border-bottom: var(--width) solid tomato;
  border-left: var(--neck-offset) solid transparent;
  border-right: var(--neck-offset) solid transparent;
  top: calc(var(--width) * -0.99);
}
.bottle__mouth {
  --height: calc(var(--neck-size) * 0.5);
  position: absolute;
  width: var(--neck-size);
  height: var(--height);
  top: calc(var(--height) * -0.9);
  background-color: tomato;
  box-shadow: inset 0 2px 2px rgba(200, 200, 200, 0.8);
}
.bottle__cap {
  --cap-offset: 4px;
  --cap-width: calc(var(--neck-size) + var(--cap-offset) * 2);
  --height: calc(var(--neck-size) * 0.7);
  left: calc(var(--cap-offset) * -1);
  position: absolute;
  z-index: 1;
  width: var(--cap-width);
  height: var(--height);
  top: calc(var(--height) * -1);
  background-color: var(--cap-color);
  border-radius: 2px;
}
.rotate-cap {
  z-index: 1;
  animation: rotate-cap var(--cap-duration) ease-out forwards;
}
.move-cap {
  animation: move-cap 2s ease-out forwards;
}

@keyframes rotate-cap {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(2000deg);
  }
}
@keyframes move-cap {
  0% {
  }
  100% {
    transform: translate(4rem, -60rem);
  }
}

@keyframes rotate-bottle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(200deg);
  }
}

@keyframes shake-bottle {
  6% {
    transform: translateY(-2rem);
  }
  9% {
    transform: translateY(0rem);
  }
  12% {
    transform: translateY(-2rem);
  }
  15% {
    transform: translateY(0rem);
  }

  37% {
    transform: translateY(0rem);
  }
  40% {
    transform: translateY(-2rem);
  }
  43% {
    transform: translateY(0rem);
  }
  46% {
    transform: translateY(-2rem);
  }
  49% {
    transform: translateY(0rem);
  }

  70% {
    transform: translateY(0rem);
  }
  85% {
    transform: translateY(-4rem);
  }
  88% {
    transform: translateY(0rem);
  }
  91% {
    transform: translateY(-4rem);
  }
  94% {
    transform: translateY(0rem);
  }
  97% {
    transform: translateY(-4rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
